html,
body {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url('../../public/images/background.png');
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

svg {
    transition: all 0.2s;
    &:hover {
        path[fill='#40545B'] {
            fill: #f22424;
        }

        path[stroke='#40545B'] {
            stroke: #f22424;
        }
    }
}

