@import '../../styles/colors.scss';

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logoImage {
    width: 96px;
    height: 96px;
}
