@import '../../../../styles/colors.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    color: $main-text-color;

    @media ( min-width: 768px ) {
        flex-direction: row;
        justify-content: center;
    }
}

.item {
    margin-bottom: 22px;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0);

    @media ( min-width: 768px ) {
        margin-bottom: 0;
        width: 240px;
    }
}

.itemImage {
    width: 160px;
}