@import '../../../../styles/colors.scss';

.container {

}

.icon {
    display: inline-block;
    width: 32px;
    height: auto;
    margin-right: 30px;
    cursor: pointer;
}

.icon > svg > path {
    transition: fill 0.2s ease;
    fill: $main-text-color;
}

.icon > svg:hover > path {
    fill: $main-red-color;
}