@import '../../styles/colors.scss';

.container {
    background-color: $main-red-color;
    width: 100%;

    @media ( min-width: 992px) {
        position: fixed;
        bottom: 20px;        
    }
}

.content {
    color: white;
    font-size: 14px;
    height: 45px;

    @media (min-width: 1200px) {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

.about {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}
