@import '../../styles/colors.scss';

.container {
    @media ( min-width: 992px ) {
        padding-top: 82px;
    }
}

.logo {
    display: flex;
    justify-content: center;
    height: 112px;
    margin-bottom: 36px;
}

.section1 {

    @media ( min-width: 992px) {
        display: flex;
    }
}

.section1TitleContainer {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 16px;
    margin-bottom: 65px;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: $main-text-color;

    @media ( min-width: 576px ) {
        padding-left: 50px;
        padding-right: 50px;
        font-size: 40px;
    }

    @media ( min-width: 992px ) {
        width: 50%;
        padding-left: inherit;
        margin-top: 70px;
        font-size: 40px;
    }
}

.section1Text {
    margin-bottom: 40px;

    @media ( min-width: 992px) {
        margin-bottom: 100px;
    }
}

.section1SliderContainer {
    width: 100%;

    @media ( min-width: 992px ) {
        width: 50%;
    }
}

.section2 {
    margin-top: 50px;
    margin-bottom: 50px;

    @media ( min-width: 992px ) {
        margin-top: 100px;
        margin-bottom: inherit;
    }
}